# Folders
/app/
/gradle/
/.vscode/
/.idea/
/.git/

# Gradle files
build.gradle
gradle.properties
settings.gradle
gradlew
gradlew.bat

# Keystore
android.keystore

# Checksums
manifest-checksum.txt

# Node
package-lock.json
twa-manifest.json

# Assets
store_icon.png